{% extends 'base.html' %}
{% load static %}
{% block title %}
    订阅记录
{% endblock %}
{% block h1%}订阅记录{% endblock %}
{% block content%}
    <div id="container">
        <div id="canvas">
            <div id="nav">
                <h3 id="title"><i class="fa fa-sitemap"></i> Amzons</h3>
                    <ul id="toggle">
                    <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="{% url 'record' %}">观看记录</a>
                        </div>
                    </li>

                        <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="{% url 'home' %}">返回首页</a>
                        </div>
                    </li>
                        <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="{% url 'user' %}">个人中心</a>
                        </div>
                    </li>
                        <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="{% url 'index' %}">返回个人主页</a>
                        </div>
                    </li>
                </ul>
             </div>
            <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
            <div class="htmleaf-container">
                {% block header %}
				<header class="htmleaf-header">
					<h1>这里是订阅列表</h1>
				</header>

				<h3>这是订阅列表</h3>
                    用户名:
                    {{ user.username }}
                {% endblock %}
			</div>
         </div>
     </div>
{% endblock %}