<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>注册页面</h1>
<div>
    {% if means == 'email' %}
        <form action="{% url 're_email' %}" method="POST">
            {% csrf_token %}
            邮箱:{{ re_form.email }}
            密码:{{ re_form.password }}
            再次输入:{{ re_form.check_password }}
            <button type="submit">提交</button>
        </form>
        {{ error_re_email }}
        <a href="{% url 're' %}">用户名注册</a>
        <a href="{% url 'login' %}">登录</a>

    {% else %}
        <form action="{% url 're' %}" method="POST">
            {% csrf_token %}
            用户名:{{ re_form.username }}
            密码:{{ re_form.password }}
            再次输入:{{ re_form.check_password }}
            <button type="submit">提交</button>
        </form>
        {{ error }}
        <a href="{% url 're' %}?means=email">邮箱注册</a>
        <a href="{% url 'login' %}">登录</a>
    {% endif %}
</div>

</body>
</html>