{% extends 'base.html' %}


{% block content %}
        <div class="right companycenter layout">
    {% for msg in all_message %}
        <div class="des">
            <span class="des">{{ forloop.counter }}</span>
            <a href="#" class="left" style="width:750px" id="jsMsgBtn" onclick="change_status($('#change_status'),{{ msg.id }});selectRole('{{ msg.message }}');">
            {# 如果字符串长度大于100 切片 #}
                {% if msg.title|length > 50 %}
                    {{ msg.title|slice:':50' }}...
                {% else %}
                    {{ msg.title }}
                {% endif %}
            </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            <span id="change_status">
                {% if msg.has_read %}
                    已读
                {% else %}
                    未读
                {% endif %}
            </span>
            <button class="layui-upload-button" onclick="delete_message({{ msg.id }})">删除</button>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block custom_jss %}
    <script>
{# 点击更改信息是否已读 #}
    function change_status(current_elem,message_id){
        $.ajax({
            cache:false,
            type:"POST",
            url:'{% url 'user_message' %}',
            data:{'message_id':message_id},
            async:true,
            beforeSend:function (xhr,setting) {
                xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
            },
            success:function (data) {
                if(data.status == 'fail'){
                        alert(data.msg)
                }else if (data.status == 'success'){
                    current_elem.text(data.msg)
                }
            }
        })
    }

    {# 删除信息 #}
    function delete_message(message_id){
        $.ajax({
            cache:false,
            type:"POST",
            url:'{% url 'user_message_delete' %}',
            data:{'message_id':message_id},
            async:true,
            beforeSend:function (xhr,setting) {
                xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
            },
            success:function (data) {
                if(data.status == 'fail'){
                        alert(data.msg)
                }else if (data.status == 'success'){
                        alert(data.msg);
                        window.location.reload()
                }
            }
        })
    }
{#    用户消息弹窗 #}
    function selectRole(data){
        layui.use('form', function(){
        var form = layui.form;
        laydate = layui.laydate;
        $ = layui.$;
        layer.open({
        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
        type:1,
        title:"消息",
        area: ['50%','50%'],
        content:data,
        success:function () {
        form.render();
        laydate.render({     //创建时间选择框
                elem: '#borrowtimebox' //指定元素
              });
            }
        });
    });
}
    </script>
{% endblock %}
