{% extends 'base.html' %}

{% block title %}
    个人中心
{% endblock %}
{% block h1%}个人中心{% endblock %}
{% block content %}
    <h3>
        这是个人中心
    </h3>
    用户名:
        {{ user.username }}

	<div id="container">
        <div id="canvas">
            <div id="nav">
                <h2 id="title"><i class="fa fa-sitemap"></i> Amzons</h2>
                    <ul id="toggle">
                    <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="">修改密码</a>
                        </div>
                    </li>

                    <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="">修改绑定邮箱</a>
                        </div>
                    </li>

                    <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="">修改账户信息</a>
                        </div>
                    </li>

                        <li>
                        <div class="active border">
                            <span class="menu-icons fa fa-home"></span>   <a href="{% url 'index' %}">返回个人主页</a>
                        </div>
                    </li>
                </ul>
             </div>
            <a href="#" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
            <div class="htmleaf-container">

			</div>
         </div>
     </div>
    {% endblock %}